@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bechmanns House Cleaning</h1>
    <img src="https://www.iliferobot.com/u_file/photo/20230228/cc4d9a1280.jpg">
    <h2>Plenty of services around cleaning</h2>
    <br />
    <h2>About our Company</h2>
    <h6>Company Address: 1234 foxtrot Ln Cincinnati Ohio 45248</h6>
    <h6>Phone Number: 513-123-4567</h6>
    <h6>Our services: Vacuuming, Wiping down surfaces, deep cleaning, mopping, and much more</h6>
    
</div>
