@page
@model RecruitCatBechmana.Pages.OurTeamModel
@{
    <h1>Our Team</h1>
    <img src="https://media.licdn.com/dms/image/D4D03AQET7VBbnzcerA/profile-displayphoto-shrink_800_800/0/1630020384626?e=2147483647&v=beta&t=uGTVEQwU-JEMKG2tq6oxnll_dEBtIi4uGBgrTzZm4I8" height="250">
    <img src="https://media.licdn.com/dms/image/C5603AQG1v7K6XQVw6Q/profile-displayphoto-shrink_800_800/0/1516873898501?e=2147483647&v=beta&t=IpeatQNz6APd7pj6viHULB4j5fnJZGuMwC_2_wScM6w" height="250">
    <img src="https://media.licdn.com/dms/image/C4E03AQGiAINzOZQUrA/profile-displayphoto-shrink_800_800/0/1620076935022?e=2147483647&v=beta&t=1iQqN2Q7TH6cGiSGX0pSLN6XUql0nsbr6GpMgfI3XIk" height="250">
    <br />
    <h1>Neil Bechmann Alex Gibson Tyler Marker</h1>
}
